# Laravel specific files
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant/

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and caches
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/
